<%= form_for(@contact_u) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <% if current_user %>
      <%= f.text_field :email, :disabled => true, :value=> current_user.email %>
    <% else %>
      <%= f.text_field :email %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :size=>'65x5' %>
  </div>
  <div class="field">
    <%= field_messages_for @contact_u %>
  </div>
  <div class="actions">
    <%= submit_tag (t :send), :class=> 'ui_button' %>
  </div>
<% end %>
