<div class="user_stuff">
  <% unless current_user %>
      <%= link_to t(:login), login_url, :class=>'ui_button' %>
      <%= link_to t('users.new'), register_url,:class=>'ui_button' %>
  <% else %>
      <%= user_label_small(current_user) %>
      <%= link_to t(:profile), profile_url, :class=>'ui_button' %>
      <%= link_to t(:logout), logout_url, :class=>'ui_button notsoimportant' %>
  <% end %>
</div>