<div id="tight">
  <div class="title">
    <h2><%= t 'users.change_password' %></h2>
  </div>
  <div class="content">
    <div class="desc"><%= t 'users.change_password_desc' %></div>
    <%= form_for :user, :url => request.url do |f| %>
      <div class="field">
        <%= f.label t 'activerecord.attributes.user.password' %>
        <%= f.password_field :password,:value=>nil %>
      </div>
      <div class="field">
        <%= f.label t 'activerecord.attributes.user.password_confirmation' %>
        <%= f.password_field :password_confirmation,:value=>nil %>
      </div>
      <div class="field">
        <%= field_messages_for(@user) %>
      </div>
      <div class="actions">
        <%= submit_tag (t :save),:class=>"ui_button" %>
      </div>
    <% end %>
  </div>
</div>  
<div class="clear"></div>