<div id="thrs">
  <div class="title">
    <h2 class="left"><%=raw @user.sname %> <%=t 'thrs.favs' %>(<%= @user.favs.count %>)</h2>
    <div class="right">
      <%= render_navigation(:context=>:user_tabs) %>
    </div>
    <div class="clear"></div>
  </div>
  <% @user.favs.each do |fav| %>
    <%= render :partial=> 'thrs/item',:locals => {:thr=>fav.activityable,:show_fav=>true} %>
  <% end %>
</div>