<div id="tight">
  <div class="title">
    <h1><%= t 'users.remind_password_question' %></h1>
  </div>
  <div class="content">
    <div class="desc"><%= t 'users.remind_password_desc' %></div>
    <%= form_for :user, :url => { :action => "remind_password" } do |f| %>
      <div class="field">
        <%= f.label t('activerecord.attributes.user.email') %>
        <%= f.text_field :email %>
      </div>
      <div>
        <%= f.simple_captcha %>
      </div>
      <div class="field">
        <% if @user %>
          <%= field_messages_for(@user) %>
        <% else %>
          <%= flash_form_messages(:user) %>
        <% end %>
      </div>
      <div class="actions">
        <%= submit_tag t('users.send_to_email'),:class=>"ui_button" %>
      </div>
    <% end %>
  </div>
</div>