<div class="left column_main">
  <div class="title">
    <h2><%= t 'users.change_password' %></h2>
  </div>
  <div class="content">
    <p><%= t 'users.change_password_desc' %></p>
    <br />
    <%= form_for :user, :url => request.url do |f| %>
     <div class="field">
      <%= f.label t :user_password %>
      <%= f.password_field :user_password,:value=>nil %>
      <%= field_messages_for(@user,:user_password) %>
    </div>
    <div class="field">
      <%= f.label t :user_password_confirmation %>
      <%= f.password_field :user_password_confirmation,:value=>nil %>
      <%= field_messages_for(@user,:user_password_confirmation) %>
    </div>
      <%= submit_tag (t :save),:class=>"ui_button" %>
    <% end %>
  </div>
</div>  
<div class="clear"></div>