<div class="left column_main">
  <div class="title">
    <h2><%= t("users.new") %></h2>
  </div>
  <div class="content">
    <br />
    <%= form_for :user, :url => { :action => "remind_password" } do |f| %>
      <div class="field">
        <%= f.label t :user_email %>
        <%= f.text_field :user_email %>
      </div>
      <div class="field">
        <%= flash_form_messages(:user) %>
      </div>    
      <%= submit_tag (t :send_to_email_link),:class=>"ui_button" %>
    <% end %>
  </div>
</div>
<div class="clear"></div>