<p>
  <b>User email:</b>
  <%=h @user.user_email %>
</p>

<p>
  <b>User password:</b>
  <%=h @user.user_password %>
</p>

<p>
  <b>User firstname:</b>
  <%=h @user.user_firstname %>
</p>

<p>
  <b>User lastname:</b>
  <%=h @user.user_lastname %>
</p>

<p>
  <b>User role:</b>
  <%=h @user.user_role %>
</p>

<p>
  <b>User last login:</b>
  <%=h @user.user_last_login %>
</p>

<p>
  <b>User street:</b>
  <%=h @user.user_street %>
</p>

<p>
  <b>User homenr:</b>
  <%=h @user.user_homenr %>
</p>

<p>
  <b>User flatnr:</b>
  <%=h @user.user_flatnr %>
</p>

<p>
  <b>User city:</b>
  <%=h @user.user_city %>
</p>

<p>
  <b>User code:</b>
  <%=h @user.user_code %>
</p>

<p>
  <b>User province:</b>
  <%=h @user.user_province %>
</p>

<p>
  <b>User status:</b>
  <%=h @user.user_status %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
